/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;400;700&display=swap');


/* Variáveis globais CSS */
:root {
    --background: rgb(84, 84, 158);
    --destaque: rgb(10, 148, 240);
    --body: rgb(85, 85, 221);
    --fonte: black;
    --footer: rgb(62, 237, 250);
} 
/* Resetar as configurações do navegador*/
* {
    outline: 0; 
    text-rendering: optimizeLegibility; /*Otimiza a legibilidade*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    font-family: 'Anton', sans-serif;
    background-color: var(--footer);
    border: black 4px solid;
    padding: 15px;
    text-align: center;
    display: block;
}
main {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
}
.section {
    display: block;
    background-color: var(--body);
    padding: 20px;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    height: 80vh;
    width: 40vw;
    border: black 4px solid;
}
section div {
    height: 25vh;
    text-align: center;
    font-size: 80px;
    margin-top: 15vh;
}
section div input {
    padding: 20px;
}
section div button {
    border: 2px black solid;
    background-color: var(--body);
    font-size: 40px;
    padding: 20px;
}
aside {
    margin: 40px;
    height: 80vh;
    width: 40vw;
    border: black 4px solid;
    font-size: 30px;
}
img {
    display: block;
    margin: 0px auto;
}
#infos {
    margin: 0px auto;
    height: 50vh;
    width: 30vw;
    text-align: center;
    overflow-y: scroll;
}
footer {
    font-family: 'Anton', sans-serif;
    background-color: var(--footer);
    border: black 4px solid;
    display: block;
    position: fixed;
    bottom:0;
    width: 100vw;
    text-align: center;
    padding: 11px;
}